<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <input type="text" value="1 кг" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <input type="text" value="1000  г" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <input type="text" value="=" />
    </div>
</div>
