@model TestSite.Models.QuestionModelView

<div class="form-group">
    @Html.LabelFor(model => model.CountAnswers, "Кол-во элементов", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.CountAnswers)
    </div>
</div>
<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <input type="text" value="а" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <input type="text" value="е" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <input type="text" value="и" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <input type="text" value="о" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <input type="text" value="у" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <input type="text" value="я" />
    </div>
</div>
