<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <input type="radio" name="graphic">
        <input type="file" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <input type="radio" name="graphic">
        <input type="file" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <input type="radio" name="graphic">
        <input type="file" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <input type="radio" name="graphic">
        <input type="file" />
    </div>
</div>
