@model IEnumerable<TestSite.Models.QuestionType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Типы вопросов</h2>

<p>
    @Html.ActionLink("Создать новый", "Create")
</p>
<table class="table">
    @*<tr>
        <th>
            Тип вопроса
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionTypeName)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.QuestionTypeID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.QuestionTypeID })
        </td>
    </tr>
}

</table>
